@font-face {
  font-family: "Roboto", sans-serif;
  font-display: swap;
  src: url("https://fonts.gstatic.com"),
    url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

.linkDefault {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
.orange {
  background-color: #e98f1c !important;
}
.yellow {
  background-color: #ffcc00 !important;
}
.blue {
  background-color: #1ce9e3 !important;
}
.smallcaps {
  font-variant: small-caps;
}
.displayrow {
  display: flex;
}
.border {
  border-bottom: 1px solid #eee;
}
.customizegroup-grid {
  padding-top: 60px;
  padding-bottom: 50px;
}
.imageIcon {
  display: flex;
  justify-content: center;
  font-size: 200px;
}
.cardImage {
  display: inline-block !important;
  padding: 0px !important;
}
.selectImageText {
  margin-top: -15px !important;
}
.customizegroup-file {
  display: none;
}
.customizegroup-ButtonCard {
  width: 100%;
  height: 100%;
}
.customizegroup-avatare {
  display: flex;
}
.customizegroup-avatar-container {
  margin-top: 63px;
  padding-right: 5px;
}

.selectedAvatar{
  border: 5px outset #1ce9e3 !important;
}

.customizegroup-filename {
  padding-top: 20px;
}
.creategroup-padding {
  padding-top: 35px;
  padding-bottom: 15px;
}
.creategroup-radios {
  display: flex;
  flex-direction: row !important;
}
.creategroup-tags {
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.creategroup-tags {
  display: flex;
}
.creategroup-continuebutton {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}
.customizegroup-bottombuttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.scroller {
  margin: 0 auto;
  height: 560px;
  width: 100%;
  overflow: auto;
}
.scroller-item {
  margin: 30px 0;
}
.creategroup-nodatebutton{
  margin-top: 10px !important;
  margin-left: -5px !important;
}
.customizegroup-datetime-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}