/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

@font-face {
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    src: url("https://fonts.gstatic.com"), url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}

.link{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 16px;
}